@charset "UTF-8";
body{font-size: 14px;font-family:"PingFang SC","Microsoft Yahei", "微软雅黑", sans-serif;}
a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
body,ul,li,ol,dd,dt,dt,a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 14px;
	color: #1B2431;
}
/*头部*/
.head {
	width: 100%;
	height: auto;
	display: flex;
	min-width: 1200px;
}
.index-logo {
	padding: 22px 0px 18px 27px;
	background-color: #1c96f1;
	width: 191px;
}
.index-topic {
	width: calc(100% - 218px);
	height: auto;
	padding: 17px 0 10px 0;
	background-color: #209fff;
	color: white;
}
.topic-left {
	float: left;
	padding-top: 10px;
}
.topic-left ul li {
	display: inline-block;
    margin-left: 45px;
    font-size: 18px;
    color: white;
	padding-bottom: 10px;
}
.bottom-line {
    border-bottom: 2px solid white;
}
.topic-right {
	float: right;
    margin-right: 25px;
    line-height: 55px;
}
.f20 {
	font-size: 20px !important;
}
.f16 {
	font-size: 16px !important;
}
.f13 {
	font-size: 13px !important;
}
.f14 {
	font-size: 14px !important;
}
.cur-poin {
	cursor: pointer;
}
.user-icon {
	border-radius: 50%;
    border: 2px solid white;
	margin: 0 10px;
}
.user-info {
	display: flex;
    float: left;
	margin-right: 24px;
}
.marginr24 {
	margin-right: 24px;
}
.marginr19 {
	margin-right: 19px;
}
.marginr22 {
	margin-right: 22px;
}
.marginr20 {
	margin-right: 20px;
}
.lineh55 {
	line-height: 55px !important;
}
.marginl19 {
	margin-left: 19px;
}
.marginr36 {
	margin-right: 36px;
}
/*左侧菜单栏*/
.menu {
	background-image:linear-gradient(-1deg, #404867 2%, #24283e 99%);
	height: 100vh;
	padding-top: 33px;
}
.firstary-font {
	color: #fff;
	margin-bottom: 17px;
	font-size: 16px;
}
.arrow {
	background: url(../images/arrow2.png)no-repeat center;
    width: 6px;
    height: 22px;
    background-size: 100%;
    display: block;
    float: right;
    line-height: 22px;
}
.secondary-menu {
	background-color: #303d56;
    width: 100%;
	padding: 9px 0 17px 0;
}
.secondary-font {
	font-size: 14px;
    color: white;
	height: 36px;
	line-height: 36px;
}
.active-secondary {
	background:#5e6c87;
}
.marginl70 {
	margin-left: 70px;
}
.marginl66 {
	margin-left: 66px;
}
.secondary-left {
	display: block;
    width: 4px;
    height: 100%;
    float: left;
    background-color: #209fff;
}
/*主要内容区*/
.contents-warrp {
	width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    /*padding: 7px 0 0 22px;*/
}
.contents-cont {
	padding: 7px 0 0 22px;
}
.router {
	font-size: 12px;
}
.router span {
	color: rgba(128, 128, 128, 0.5);
}
.router span:last-child {
	color: #209fff;
}
.white-warrp {
	width: 1110px;
	background:#ffffff;
	border:1px solid #e6eaee;
	border-radius: 4px;
}
/*企业查询*/
.company-inquiry {
	padding: 18px 31px;
    margin-top: 9px;
}
.company-input {
	border-radius: 4px;
	width: 184px;
	height: 36px;
	outline: none;
	border: 1px solid #dfe3e9;
	padding-left: 14px;
	margin-left: 10px;
}
.ompany-input::-webkit-input-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input:-moz-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input::-moz-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input:-ms-input-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.box {
	display: flex;
    /*flex-wrap: wrap;*/
    /*align-content: space-between;*/
	margin-bottom: 17px;
}
.flex1 {
	flex: 1;
}
.box .flex1:nth-child(2) {
	text-align: center;
}
.box .flex1:nth-child(3) {
	text-align: right;
}
.inquiry {
	border-top: 1px solid #dfe3e9;
	text-align: right;
}
.inquiry-btn {
	background-image:linear-gradient(-180deg, #ffffff 3%, #e1e1e1 98%);
	border:1px solid #ced0da;
	border-radius:4px;
	width:89px;
	height:34px;
	outline: none;
	margin-top: 7px;
}
