<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="contents-warrp">
        <div class="contents-cont">
            <div class="router">
                你的位置：<span>业务管理／</span><span>客户管理／</span><span>承租方管理／</span><span>新增用户</span>
            </div>
            <div class="white-warrp white-padding">
                <div class="adduser-topic">
                    <span class="f24">新增用户</span>
                    <span class="bluef rightposition"><i class="fa fa-reply reply-attr"></i>返回上一级菜单</span>
                </div>
                <form class="">
                    <div class="adduser-cont">
                        <p class="bluef displayflex marginb16"><span class="rectangle"></span><span class="f16">用户基本信息</span></p>
                        <div class="adduser-form displayflex space-between">
                                <div>&nbsp;<span class="redf">*</span>用户姓名：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div><span class="redf">*</span>联系方式：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                        <div class="adduser-form displayflex space-between">
                                <div>&nbsp;<span class="redf">*</span>用户性别：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div>居住地址：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                        <div class="adduser-form displayflex space-between">
                                <div>身份证号码：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div>户籍所在地：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                        <p class="bluef displayflex marginb16"><span class="rectangle"></span><span class="f16">用户基本信息</span></p>
                        <div class="adduser-form displayflex space-between">
                                <div>&nbsp;<span class="redf">*</span>用户姓名：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div><span class="redf">*</span>联系方式：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                        <div class="adduser-form displayflex space-between">
                                <div>&nbsp;<span class="redf">*</span>用户性别：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div>居住地址：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                        <div class="adduser-form displayflex space-between">
                                <div>身份证号码：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入" required="required"></div>
                                <div>户籍所在地：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                        </div>
                    </div>
                    <div class="news-btn-group">
    					<button type="submit" class="news-btn ready-btn outlinenone">
    						确定
    					</button>
    					<button class="news-btn detail-btn outlinenone">
    						取消
    					</button>
    				</div>
                </form>
            </div>
        </div>

	</div>
</body>
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/head.js"></script> -->
</html>
