<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="menu">
        <ul>
            <li class="firstary-font secondary-font active-secondary" id="left-tabsrc" data-src="desktop.html">
				<span class="secondary-left"></span>
                <i class="fa fa-windows f14 marginr24 marginl19"></i>
                <span>桌面管理</span>
                <!-- <i class="arrow marginr36"></i> -->
            </li>
        </ul>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
</html>
