<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="contents-warrp">
        <div class="contents-cont">
            <div class="router">
                你的位置：<span>桌面管理</span>
            </div>
            <div class="white-warrp white-padding height-vh">
                <div class="row-box">
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-one.png" alt="立项申请"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-two.png" alt="进入录入"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-three.png" alt="还款提醒"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-four.png" alt="承租方管理"></a>
                    </div>
					<div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-five.png" alt="待办任务"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-six.png" alt="债转申请"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-seven.png" alt="回款提醒"></a>
                    </div>
                    <div class="child-box">
                        <a href="#"><img class="desktop-img" src="../images/desktop-eight.png" alt="资金方管理"></a>
                    </div>
                </div>
				<!-- <div class="row-box">

				</div> -->
            </div>
        </div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
</html>
