<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="contents-warrp">
        <div class="contents-cont">
            <div class="router">
                你的位置：<span>桌面管理</span>
            </div>
            <div class="white-warrp company-inquiry">

            </div>
        </div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/head.js"></script> -->
</html>
