<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="contents-warrp lease-heights">
        <div class="contents-cont">
            <div class="router">
                你的位置：<span>业务管理／</span><span>客户管理／</span><span>承租方管理</span>
            </div>
            <div class="white-warrp white-padding">
                <form class="">
                    <div class="box">
                        <div class="flex1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;企业名称<input type="text" name="" value="" class="company-input" placeholder="请输入"></div>
                        <div class="flex1">组织机构代码<input type="text" name="" value="" class="company-input" placeholder="请输入"></div>
                        <div class="flex1">
                            所有制形式
                            <select name="" id="" class="company-input">
        						<option value="全部">全部</option>
        						<option value="全部">全部</option>
        						<option value="全部">全部</option>
    					    </select>
                        </div>
                        <!-- <span>营业执照号码</span><input type="text" name="" value="" class="company-input" placeholder="请输入"> -->
                    </div>
                    <div class="box">
                        <div class="flex1">营业执照号码<input type="text" name="" value="" class="company-input" placeholder="请输入"></div>
                    </div>
                    <div class="inquiry">
                        <button type="button" name="button" class="inquiry-btn" value="">查询</button>
                    </div>
                </form>
            </div>
            <div class="white-warrp clientlist-topic">
                <div class="displayflex space-between padding-client">
                    <span class="f18 lineh36">客户列表</span>
                    <div class="addclient-btn">
                        <i class="fa fa-plus f16 marginr5"></i>新增客户
                    </div>
                </div>
                <div class="table-warrp">
                    <table class="table">
                      <thead class="table-head">
                        <tr>
                          <th class="unleft-border">序号</th>
                          <th>承租客户编号</th>
                          <th>企业名称</th>
                          <th>企业简称</th>
                          <th>组织机构代码</th>
                          <th>联系人</th>
                          <th>联系电话</th>
                          <th>行业类型</th>
                          <th>所有制形式</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody class="table-body">
                        <tr>
                          <td class="unleft-border">1</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td>
                              <select name="" id="" class="company-input">
          						<option value="全部">请选择</option>
          						<option value="全部"></option>
          						<option value="全部">全部</option>
      					    </select>
                          </td>
                        </tr>
                        <tr>
                          <td class="unleft-border">2</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">3</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">4</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">5</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">6</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">7</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="unleft-border">8</td>
                          <td>cz234556</td>
                          <td>阿里巴巴有限公司</td>
                          <td>阿里巴巴</td>
                          <td>hj1234567890</td>
                          <td>张大大</td>
                          <td>19823473310</td>
                          <td>互联网</td>
                          <td>民营</td>
                          <td></td>
                        </tr>
                      </tbody>
                      <!-- <tfoot>
                        <tr>
                          <td>Sum</td>
                          <td>$180</td>
                        </tr>
                      </tfoot> -->
                    </table>
                </div>
            </div>
        </div>

	</div>
</body>
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/head.js"></script> -->
</html>
