<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="contents-warrp species-heights">
        <div class="contents-cont">
            <div class="router">
                你的位置：<span>租赁物品管理／</span><span>租赁物种类管理</span>
            </div>
            <div class="white-warrp white-padding no-padding tab">
                <div class="species-topic">
                    <span class="tab-item cur-poin">租赁物模版列表</span>
                    <span>|</span>
                    <span class="tab-item cur-poin">创建租赁模版</span>
                    <div class="blue-line"></div>
                </div>
                <div class="select-tab">
                    <div class="tab-cont">
                        <div class="species-cont">
                            <p class="bluef displayflex marginb16"><span class="rectangle"></span><span class="f16">新建租赁标物模版</span></p>
                            <div class="adduser-form displayflex space-between">
                                    <div class="lineh38">租赁物模版编号：<span class="marginl10 color-grey">145789999</span></div>
                                    <div>租赁物类型：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div>
                            </div>
                            <div class="adduser-form displayflex space-between marginb40">
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;租赁物名称：<input type="text" name="" value="" class="company-input width-reset" placeholder="输入项目名称"></div>
                                    <!-- <div>居住地址：<input type="text" name="" value="" class="company-input width-reset" placeholder="请输入"></div> -->
                            </div>
                            <p class="bluef displayflex marginb16"><span class="rectangle"></span><span class="f16">租赁物统一字段</span></p>
                            <div class="table-warrp">
                                <table class="table marginb31">
                                  <thead class="table-head">
                                    <tr>
                                      <th class="">序号</th>
                                      <th>字段名称</th>
                                      <th>排序号</th>
                                      <th>描述</th>
                                      <th>唯一表示key</th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-body">
                                    <tr>
                                      <td class="">1</td>
                                      <td>租赁物品名称</td>
                                      <td>1</td>
                                      <td>集成1、权限2、权限三</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                        <td class="">2</td>
                                        <td>租赁物品名称</td>
                                        <td>2</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="">3</td>
                                        <td>租赁物品名称</td>
                                        <td>3</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="">4</td>
                                        <td>租赁物品名称</td>
                                        <td>4</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td></td>
                                    </tr>
                                  </tbody>
                                  <!-- <tfoot>
                                    <tr>
                                      <td>Sum</td>
                                      <td>$180</td>
                                    </tr>
                                  </tfoot> -->
                                </table>
                            </div>
                            <p class="bluef displayflex marginb16"><span class="rectangle"></span><span class="f16">租赁物统一字段</span></p>
                            <form class="">
                                <div class="table-warrp">
                                <table class="table marginb31">
                                  <thead class="table-head">
                                    <tr>
                                      <th>全选</th>
                                      <th>序号</th>
                                      <th>字段名称</th>
                                      <th>排序号</th>
                                      <th>描述</th>
                                      <th>唯一表示key</th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-body">
                                    <tr>
                                      <td><input name="" type="checkbox" value="" /></td>
                                      <td>1</td>
                                      <td>租赁物品名称</td>
                                      <td>1</td>
                                      <td>集成1、权限2、权限三</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                        <td><input name="" type="checkbox" value="" /></td>
                                        <td class="">2</td>
                                        <td>租赁物品名称</td>
                                        <td>2</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td>要素编码</td>
                                    </tr>
                                    <tr>
                                        <td><input name="" type="checkbox" value="" /></td>
                                        <td class="">3</td>
                                        <td>租赁物品名称</td>
                                        <td>3</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><input name="" type="checkbox" value="" /></td>
                                        <td class="">4</td>
                                        <td>租赁物品名称</td>
                                        <td>4</td>
                                        <td>集成1、权限2、权限三</td>
                                        <td></td>
                                    </tr>
                                  </tbody>
                                  <!-- <tfoot>
                                    <tr>
                                      <td>Sum</td>
                                      <td>$180</td>
                                    </tr>
                                  </tfoot> -->
                                </table>
                            </div>
                            </form>
                        </div>
                        <div class="species-foot">
                            <div class="news-btn-group">
            					<button type="submit" class="news-btn ready-btn outlinenone">
            						确定
            					</button>
            					<button class="news-btn detail-btn outlinenone">
            						取消
            					</button>
            				</div>
                        </div>
                    </div>
                    <div class="tab-cont displaynone">

                    </div>
                </div>

            </div>

        </div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
</html>
