<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="menu">
        <ul>
            <li class="firstary-font">
                <i class="fa fa-group f13 marginr19 marginl19"></i>
                <span>客户管理</span>
                <i class="arrow marginr36"></i>
                <ul class="secondary-menu">
                    <li class="secondary-font active-secondary"><span class="secondary-left"></span><span class="marginl70 marginl66">承租方管理</span></li>
                    <li class="secondary-font"><span class="marginl70">供应商管理</span></li>
                    <li class="secondary-font"><span class="marginl70">资金方（非授权）</span></li>
                    <li class="secondary-font"><span class="marginl70">资金方（授权）</span></li>
                    <li class="secondary-font"><span class="marginl70">担保机构管理</span></li>
                </ul>
            </li>
            <li class="firstary-font">
                <i class="fa fa-user f14 marginr24 marginl19"></i>
                <span>账户管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-tags f14 marginr19 marginl19"></i>
                <span>业务类型管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-cogs f14 marginr19 marginl19"></i>
                <span>租赁物品管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-folder-open-o f14 marginr19 marginl19"></i>
                <span>项目管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-plus-square f14 marginr22 marginl19"></i>
                <span>借款管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-paste f14 marginr20 marginl19"></i>
                <span>合同管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-minus-square f14 marginr22 marginl19"></i>
                <span>还款管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-cny f16 marginr22 marginl19"></i>
                <span>融资管理</span>
                <i class="arrow marginr36"></i>
            </li>
            <li class="firstary-font">
                <i class="fa fa-dollar f16 marginr22 marginl19"></i>
                <span>财务报表</span>
                <i class="arrow marginr36"></i>
            </li>
        </ul>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<!-- <script src="../js/head.js"></script> -->
</html>
